<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments::header"></div>
<body>
<div th:replace="fragments::navbar"></div>
<table>
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>AGE</th>
    <th>DETAILS</th>
    <th>DELETE</th>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.age}"></td>
        <td>
            <a class="btn btn-primary " th:href="@{'/search/' + ${student.id}}" th:text="Details"> </a>
        </td>
        <td>
            <form th:action="@{'/delete-student/' + ${student.id}}" th:method="delete">
                <button class="btn btn-danger" th:text="Delete"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<form action="#" th:action="@{/add-student}" th:object="${student}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="#{label.name}"/></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label th:text="#{label.age}"/></td>
            <td><input type="number" th:field="*{age}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
<div class="position-absolute bottom-0 end-0" style="width: 100%">
<div th:replace="fragments::footer"></div>
</div>
</body>
<!--<div th:replace="fragments::scripts"></div>-->
</html>
